<div class="task-container">
  <h2>Task List</h2>
  <div class="task-grid">
    <div class="task-card" *ngFor="let task of tasks">
      <mat-card class="task-card-content">
        <strong>{{ task.title }}</strong>
        <p>{{ task.description }}</p>
        <p>Completed: {{ task.is_completed ? "Yes" : "No" }}</p>
        <button mat-raised-button color="primary" (click)="editTask(task)">
          Edit
        </button>
        <button mat-raised-button color="warn" (click)="deleteTask(task.id)">
          Delete
        </button>
      </mat-card>
    </div>
  </div>

  <h3 *ngIf="isEditing">Edit Task</h3>
  <h3 *ngIf="!isEditing">Create New Task</h3>

  <form class="task-form" (ngSubmit)="saveTask()">
    <mat-form-field appearance="fill">
      <mat-label>Task Title</mat-label>
      <input matInput [(ngModel)]="newTask.title" name="title" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Task Description</mat-label>
      <textarea
        matInput
        [(ngModel)]="newTask.description"
        name="description"
        required
      ></textarea>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="newTask.is_completed" name="is_completed"
      >Completed</mat-checkbox
    >

    <div class="task-buttons">
      <button mat-raised-button color="primary" type="submit">
        {{ isEditing ? "Update Task" : "Create Task" }}
      </button>
      <button mat-button color="warn" type="button" (click)="resetForm()">
        Cancel
      </button>
    </div>
  </form>
</div>
