<mat-toolbar color="primary">
  <button mat-button [routerLink]="'/'">Task & Note App</button>
  <span class="spacer"></span>
  <ng-container *ngIf="!isLoggedIn()">
    <button mat-button [routerLink]="'/login'">Login</button>
    <button mat-button [routerLink]="'/register'">Register</button>
  </ng-container>
  <ng-container *ngIf="isLoggedIn()">
    <button mat-button [routerLink]="'/tasks'">Tasks</button>
    <button mat-button [routerLink]="'/notes'">Notes</button>
    <button mat-button (click)="logout()">Logout</button>
  </ng-container>
</mat-toolbar>
