<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item (click)="navigate('/tasks')">
        <mat-icon>task</mat-icon>
        <span>Tasks</span>
      </mat-list-item>
      <mat-list-item (click)="navigate('/notes')">
        <mat-icon>note</mat-icon>
        <span>Notes</span>
      </mat-list-item>
      <mat-list-item (click)="navigate('/key-vault')">
        <mat-icon>key</mat-icon>
        <span>key-vault</span>
      </mat-list-item>

      <mat-list-item (click)="navigate('/expense')">
        <mat-icon>money</mat-icon>
        <span>Expense</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Main content goes here -->
  </mat-sidenav-content>
</mat-sidenav-container>
