<mat-card class="secrets-card">
  <mat-card-title>Secrets Manager</mat-card-title>
  <mat-card-content>
    <!-- Form to create new secret -->
    <form (ngSubmit)="createSecret()">
      <mat-form-field appearance="fill">
        <mat-label>Secret Key</mat-label>
        <input matInput [(ngModel)]="secrect_key" name="secrect_key" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Key Details</mat-label>
        <input matInput [(ngModel)]="key_details" name="key_details" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="password_visible ? 'text' : 'password'"
          [(ngModel)]="password"
          name="password"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="password_visible = !password_visible"
          type="button"
        >
          <mat-icon>{{
            password_visible ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Save Secret
      </button>
    </form>

    <hr />

    <!-- List of existing secrets -->
    <div *ngFor="let secret of secrets">
      <mat-card class="secret-item">
        <mat-card-header>
          <mat-card-title>{{ secret.secrect_key }}</mat-card-title>
          <button
            mat-icon-button
            (click)="deleteSecret(secret.id)"
            aria-label="Delete Secret"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <p>{{ secret.key_details }}</p>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="passwordVisibleMap[secret.id] ? 'text' : 'password'"
              [value]="secret.password"
              readonly
            />
            <button
              mat-icon-button
              matSuffix
              (click)="togglePasswordVisibility(secret.id)"
              type="button"
            >
              <mat-icon>{{
                passwordVisibleMap[secret.id] ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="copyToClipboard(secret.password)"
              matSuffix
              aria-label="Copy to clipboard"
            >
              <mat-icon>content_copy</mat-icon>
            </button>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
